html, body{
    height: 100%;
    background-color: #141028;

    .conentWrapper{
        background-color: white;
        padding-bottom: 150px;
    }
}

*, ::after, ::before {
    box-sizing: content-box !important;
}

